<div class="ct">
  <div class="ct__field">
    <button
      class="ct__btn"
      type="button"
      (click)="fzAdd()"
      (contextmenu)="fzRemove(); $event.preventDefault()"
    >
      {{ playerFz() }}
    </button>
    @for (mz of playerMz(); let i = $index; track i) {
      <button
        class="ct__btn"
        type="button"
        (click)="mzAdd(i)"
        (contextmenu)="mzRemove(i); $event.preventDefault()"
      >
        {{ mz }}
      </button>
    }
    <div class="ct__btn"></div>
  </div>
  <div class="ct__field">
    <div class="ct__btn"></div>
    @for (stz of playerStz(); let i = $index; track i) {
      <button
        class="ct__btn"
        type="button"
        (click)="stzAdd(i)"
        (contextmenu)="stzRemove(i); $event.preventDefault()"
      >
        {{ stz }}
      </button>
    }
    <div class="ct__btn"></div>
  </div>
</div>
