<div class="settings-page">
  <div class="settings-section">
    <h2 class="settings-section__title">
      <span class="settings-section__title-icon">
        <app-icon icon="swords" size="sm" />
      </span>
      {{ 'settings.section.duel.title' | translate }}
    </h2>
    <div class="settings-section__fields">
      <div class="settings-section__fields--row">
        <app-number-input
          [formControl]="lifePoints"
          label="settings.section.duel.start-lp"
          [maxValue]="9999999"
          [minValue]="1"
          [hideButtons]="true"
          [step]="1000"
        />
        <app-list-picker
          [formControl]="bestOf"
          label="settings.section.duel.best-of"
          [options]="bestOfOptions"
          (valueChanged)="numberOfGamesChanged()"
        />
      </div>

      <app-time-input
        [formControl]="duration"
        label="settings.section.duel.timer"
        [canReset]="true"
        (doReset)="resetTimer()"
      />
      <div class="settings-section__fields--row">
        <app-list-picker
          [formControl]="showCustomPlayers"
          label="settings.section.duel.custom-profiles"
          [options]="customPlayersOption"
          (valueChanged)="customPlayersChanged()"
        />
        <app-button
          class="mt-auto"
          size="xs"
          (clicked)="openProfiles()"
          tone="neutral"
          icon="settings"
        />
      </div>
    </div>
    <div class="settings-section__footer"></div>
  </div>

  <div class="settings-section">
    <h2 class="settings-section__title">
      <span class="settings-section__title-icon"> <app-icon icon="palette" size="sm" /></span>
      {{ 'settings.section.gui.title' | translate }}
    </h2>
    <div class="settings-section__fields">
      <div class="settings-section__fields--row">
        <app-list-picker
          [formControl]="language"
          label="settings.section.gui.language"
          [options]="languageOptions"
          (valueChanged)="languageChanged()"
        />
        <app-list-picker
          [formControl]="theme"
          label="settings.section.gui.theme"
          [options]="themeOptions"
          (valueChanged)="themeChanged()"
        />
      </div>
      <div class="settings-section__fields--row">
        <app-list-picker
          [formControl]="background"
          label="settings.section.gui.wallpaper"
          [options]="backgroundOptions"
          (valueChanged)="backgroundChanged()"
        />
        <app-list-picker
          [formControl]="modalOpacity"
          label="settings.section.gui.opacity"
          [options]="modalOpacityOptions"
          (valueChanged)="modalOpacityChanged()"
        />
      </div>
      <div class="settings-section__fields--row">
        <app-list-picker
          [formControl]="isLandscapeOrientation"
          label="settings.section.gui.orientation"
          [options]="orientationOptions"
          (valueChanged)="screenOrientationChanged()"
        />
        <app-list-picker
          [disabled]="swapPlayersDisabled()"
          [formControl]="swapPlayers"
          label="settings.section.gui.swap-players"
          [options]="swapPlayerOptions"
          (valueChanged)="swapPlayersChanged()"
        />
      </div>

      <div class="settings-section__fields--row">
        <app-list-picker
          [formControl]="useRapidButtons"
          label="settings.section.gui.rb-use"
          [options]="useRbOptions"
          (valueChanged)="useRapidButtonsChanged()"
        />
        <app-list-picker
          [formControl]="rapidButtonsColumns"
          [label]="
            isLandscapeOrientation?.value
              ? 'settings.section.gui.rb-rows'
              : 'settings.section.gui.rb-columns'
          "
          [options]="numberOfColumnsOptions"
          (valueChanged)="rapidButtonsColumnsChanged()"
        />
      </div>
      <app-number-input
        [formControl]="numberOfRapidButtons"
        label="settings.section.gui.rb-number"
        [maxValue]="15"
        [minValue]="1"
        [step]="1"
      />
    </div>
    <div class="settings-section__footer"></div>
  </div>

  @if (isAndroid) {
    <div class="settings-section">
      <h2 class="settings-section__title">
        <span class="settings-section__title-icon"> <app-icon icon="smartphone" size="sm" /></span>
        {{ 'settings.section.android.title' | translate }}
      </h2>
      <div class="settings-section__fields">
        <app-list-picker
          [disabled]="!keepAwakeSupported()"
          [formControl]="keepAwake"
          label="settings.section.android.keep-awake"
          [options]="keepAwakeOptions"
          (valueChanged)="saveKeepAwake()"
        />
      </div>
      <div class="settings-section__footer"></div>
    </div>
  }

  <div class="settings-section">
    <h2 class="settings-section__title">
      <span class="settings-section__title-icon">
        <app-icon icon="sliders-horizontal" size="sm"
      /></span>
      {{ 'settings.section.behaviour.title' | translate }}
    </h2>
    <div class="settings-section__fields">
      <span class="section-label"> {{ 'settings.section.behaviour.info' | translate }} </span>

      <app-text-button
        (clicked)="openBehaviourSettings()"
        label="settings.section.behaviour.open"
        tone="neutral"
      />
    </div>
    <div class="settings-section__footer"></div>
  </div>

  <div class="settings-section">
    <h2 class="settings-section__title">
      <span class="settings-section__title-icon"> <app-icon icon="info" size="sm" /></span>
      {{ 'settings.section.information.title' | translate }}
    </h2>
    <div class="settings-section__fields">
      <span class="section-image">
        <img class="about__icon" src="icon.png" alt="leoDuel icon" />
      </span>
    </div>
    <div class="settings-section__fields">
      <span class="section-label section-label--col">
        <span>leuDuel v{{ version }}</span>
        <span>
          {{
            'settings.section.information.author' | translate: { author: 'XimTheCookie (Xim_)' }
          }}</span
        >
        <span>
          {{ 'settings.section.information.help' | translate }}
        </span>
        <a class="section-label--link" (click)="openGitHub()">GitHub</a>
      </span>
    </div>
    <div class="settings-section__footer"></div>
  </div>
</div>
