<div
  class="lp-display"
  [class.lp-display--bg]="hasDefaultBg()"
  [class.lp-display--compact]="compact()"
  [class.animating]="animating()"
  [class.gaining]="animating() && gaining()"
>
  @if (playerName() && compact()) {
    <span class="lp-player">{{ playerName() }}</span>
  }
  <span class="lp-value" (click)="lpClick.emit()">{{ displayValue() ?? lifePoints() }}</span>
  <span class="lp-label">LP</span>
  @if (unduable()) {
    <app-button
      size="xs"
      class="lp-undo"
      icon="reset"
      (click)="$event.preventDefault()"
      (clicked)="undoLifeAction()"
    />
  }
</div>
