<div class="modify-form">
  <div class="modify-form__header">
    <span class="modify-form__title">
      {{ 'damage-button.title' | translate }}
    </span>
  </div>

  <div class="modify-form__section">
    <app-number-input
      label="damage-button.value"
      [formControl]="buttonValueController"
      [minValue]="1"
      [maxValue]="99999"
      [step]="100"
    />
  </div>

  <div class="modify-form__section">
    <span class="modify-form__label">
      {{ 'damage-button.action-type' | translate }}
    </span>
    <div class="modify-form__types">
      @for (t of actionTypes; track t.type) {
        <button
          class="type-btn"
          [class.type-btn--active]="selectedType() === t.type"
          [class.type-btn--damage]="t.type === 'damage'"
          [class.type-btn--heal]="t.type === 'heal'"
          [class.type-btn--divide]="t.type === 'divide'"
          [class.type-btn--multiply]="t.type === 'multiply'"
          [class.type-btn--set]="t.type === 'set'"
          type="button"
          (click)="selectType(t.type)"
        >
          <span class="type-btn__symbol">{{ t.symbol }}</span>
          <span class="type-btn__label">{{ t.label | translate }}</span>
        </button>
      }
    </div>
  </div>

  <div class="modify-form__footer">
    @if (!landscapeMode()) {
      <span class="modify-form__footer_label">
        {{ 'damage-button.info' | translate }}
      </span>
    }
    <app-text-button
      [tone]="buttonValueController.invalid ? 'neutral' : 'positive'"
      [isDisabled]="buttonValueController.invalid"
      (clicked)="save()"
      label="common.button.confirm"
    />
  </div>
</div>
