<div class="tools-page">
  <div class="tools-page__zone mirror">
    <app-player-tools [player]="2" />
  </div>

  <div class="tools-page__divider">
    <div class="tools-page__emz">
      <button class="tools-page__emz-btn" (click)="openCounterPage()">⚔</button>
      <div></div>
      <div></div>
      <button class="tools-page__close" (click)="close()">✕</button>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="tools-page__zone">
    <app-player-tools [player]="1" />
  </div>
</div>
