<div class="tools-page" [class.tools-page--landscape]="settingsService.landscapeMode()">
  <div class="tools-page__zone" [class.mirror]="!settingsService.landscapeMode()">
    <app-player-tools [player]="2" />
  </div>

  <div class="tools-page__divider">
    <div class="tools-page__emz">
      <div></div>
      <div></div>
      <div></div>
      <button class="tools-page__close" (click)="close()">✕</button>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="tools-page__zone">
    <app-player-tools [player]="1" />
  </div>
</div>
