<div class="welcome">
  <div class="welcome__header">
    <span class="welcome__title">
      {{ 'welcome.title' | translate }}
    </span>
    <p class="welcome__subtitle">
      {{ 'welcome.subtitle' | translate }}
    </p>
  </div>

  <div class="welcome__divider">
    <span class="welcome__divider-gem"></span>
  </div>

  <div class="welcome__actions">
    <app-text-button
      label="settings.list-value.orientation.potrait"
      tone="neutral"
      (clicked)="selectMode(false)"
    />
    <app-text-button
      label="settings.list-value.orientation.landscape"
      tone="neutral"
      (clicked)="selectMode(true)"
    />
  </div>
</div>
