<div class="player-panel">
  <div class="wins-bar">
    @for (i of numberOfGamesArray(); track i) {
      <span class="wins-bar__gem" [class.wins-bar__gem--filled]="i <= wins"></span>
    }
  </div>
  <div class="lp-display">
    <span class="lp-value">{{ lifePoints }}</span>
    <span class="lp-label">LP</span>
  </div>
  <div class="actions-grid">
    @for (damage of defaultDamageTypes(); track damage; let i = $index) {
      <app-damage-button
        [player]="player()"
        [change]="damage.change"
        [type]="damage.type"
        (doModify)="doModify(i)"
      ></app-damage-button>
    }
  </div>
</div>
