:host {
  width: 100%;
  height: 100%;
  display: block;
}

.player-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__calculator {
    height: 100%;
    padding-top: 0.25rem;
  }

  &--bg {
    background: var(--bg-panel);
  }

  &--custom-bg > div > app-damage-button {
    opacity: 0.9;
  }
}

.actions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: 1;

  &__cols-one {
    grid-template-columns: 1fr;
  }

  &__cols-two {
    grid-template-columns: 1fr 1fr;
  }

  &__cols-three {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.25rem;
  }
}
