<div class="player-panel">
  <div class="wins-bar">
    @for (i of numberOfGamesArray(); track i) {
      <span class="wins-bar__gem" [class.wins-bar__gem--filled]="i <= wins"></span>
    }
  </div>
  <app-life-points (click)="modifyLp()" [lifePoints]="lifePoints" />
  <div
    class="actions-grid"
    [class.actions-grid__cols-one]="numberOfColumns() === 1"
    [class.actions-grid__cols-two]="numberOfColumns() === 2"
    [class.actions-grid__cols-three]="numberOfColumns() === 3"
    [style.grid-template-rows]="'repeat(' + numberOfRows() + ', 1fr)'"
  >
    @for (damage of rapidButtons(); track i; let i = $index) {
      <app-damage-button
        [player]="player()"
        [change]="damage.change"
        [type]="damage.type"
        [fullHeight]="true"
        (doModify)="doModify(i)"
      ></app-damage-button>
    }
  </div>
</div>
