@if (settingsService.landscapeMode()) {
  <div class="duel-page duel-page--landscape">
    <div class="duel-page__lp-col">
      <div
        class="duel-page__lp-row"
        [class.duel-page__lp-row--swap]="settingsService.swapPlayers()"
      >
        <div
          class="duel-page__lp-cell"
          [class.duel-page__lp-cell--selected]="selectedPlayer() === 'player1'"
          [class.duel-page__lp-cell--swap]="settingsService.swapPlayers()"
          [class.duel-page__lp-cell--bg]="hasDefaultBg()"
          (click)="onLpSelect('player1')"
        >
          <app-life-points
            (lpClick)="onLpClick('player1')"
            class="w-full"
            [compact]="true"
            player="player1"
          />
        </div>
        <app-duel-controller class="duel-page__controller" />
        <div
          class="duel-page__lp-cell duel-page__lp-cell--right"
          [class.duel-page__lp-cell--selected]="selectedPlayer() === 'player2'"
          [class.duel-page__lp-cell--swap]="settingsService.swapPlayers()"
          [class.duel-page__lp-cell--bg]="hasDefaultBg()"
          (click)="onLpSelect('player2')"
        >
          <app-life-points
            (lpClick)="onLpClick('player2')"
            class="w-full"
            [compact]="true"
            player="player2"
          />
        </div>
      </div>
      <div
        class="duel-page__lp-wins"
        [class.duel-page__lp-wins--swap]="settingsService.swapPlayers()"
      >
        <app-wins-bar class="w-full" [wins]="wins1()" />
        <app-wins-bar class="w-full" [wins]="wins2()" />
      </div>
    </div>

    @if (settingsService.useRapidButtons()) {
      <app-landscape-actions
        class="duel-page__landscape-actions"
        [selectedPlayer]="selectedPlayer()"
      />
    } @else {
      <app-life-points-calculator class="duel-page__calculator" [player]="selectedPlayer()" />
    }
  </div>
} @else {
  <div class="duel-page">
    <div class="duel-page__panel duel-page__panel--opponent mirror">
      <app-player-panel player="player2"></app-player-panel>
    </div>
    <app-duel-controller />
    <div class="duel-page__panel">
      <app-player-panel player="player1"></app-player-panel>
    </div>
  </div>
}
