<div class="controller">
  <div class="controller__layout">
    <div class="controller__grid-left">
      <app-button
        (clicked)="openSettings()"
        icon="settings"
        label="Settings"
        [isDisabled]="duelStore.isDuelStarted() || duelStore.isDuelPaused()"
        size="xs"
        tone="neutral"
      />
      <app-button
        (clicked)="viewLog()"
        [isDisabled]="!duelStore.isDuelStarted()"
        icon="log"
        label="Log"
        size="xs"
        tone="neutral"
      />
      <app-button
        (clicked)="stopMatch()"
        icon="reset"
        label="Stop"
        [isDisabled]="duelStore.isDuelFinished()"
        size="xs"
        tone="warning"
      />
      <app-button
        (clicked)="resetLifePoints()"
        icon="heart-reset"
        label="Reset LP"
        [isDisabled]="!duelStore.isDuelStarted()"
        size="xs"
        tone="negative"
      />
    </div>

    <div class="controller__center">
      <app-timer />
      <div class="controller__main-btn">
        @if (duelStore.isDuelPaused()) {
          <app-button
            (clicked)="resumeDuel()"
            icon="play"
            label="Resume"
            size="md"
            tone="positive"
          />
        } @else if (duelStore.isDuelStarted()) {
          <app-button (clicked)="pauseDuel()" icon="pause" label="Pause" size="md" tone="warning" />
        } @else {
          <app-button (clicked)="startDuel()" icon="play" label="Play" size="md" tone="positive" />
        }
      </div>
    </div>

    <div class="controller__grid-right">
      <app-button icon="coins" size="xs" tone="neutral" (clicked)="openCountersPage()" />
      <app-button
        (clicked)="openJudgePage()"
        icon="rules"
        label="Rulings"
        tone="neutral"
        size="xs"
      />
      <app-button icon="dices" size="xs" tone="neutral" (clicked)="openToolsPage()" />
      <app-button
        (clicked)="toggleSounds()"
        [icon]="settingsService.soundsOn() ? 'volume' : 'volume-off'"
        label="Sound"
        size="xs"
        [tone]="settingsService.soundsOn() ? 'neutral' : 'negative'"
      />
    </div>
  </div>
</div>
